 

.functionAera{
    position: relative;
    bottom: 0vh;
    margin: 0 auto 20px auto;
    width:84vw;
    height:20vw;
    border-radius: 20px;
    border: 2px solid black;
    /* background-color: #ffffff4D; */
}
.sortable{
    /* position: relative; */
    /* z-index: 1; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: inline-grid;
    grid-template-columns: repeat(4, 352px);
    grid-template-rows: repeat(auto-fill, 180px); */
}
.sortableItem{
    /* position: relative; */
    /* z-index: 2; */
    margin: 12px;
    /* display: inline-block; */
    /* transition: .5s ease-in; */
}
/* .sortableItem:active{
    transform: scale(0.95);
} */
 