 

.functionAera{
    position: relative;
    top: 12vh;
    margin: 0 auto;
    width:1508px;
    height:390px;
    border-radius: 20px;
    /* background-color: #ffffff4D; */
}
.sortable{
    /* position: relative; */
    /* z-index: 1; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* display: inline-grid;
    grid-template-columns: repeat(4, 352px);
    grid-template-rows: repeat(auto-fill, 180px); */
}
.sortableItem{
    /* position: relative; */
    /* z-index: 2; */
    margin: 12px;
    /* display: inline-block; */
    /* transition: .5s ease-in; */
}
/* .sortableItem:active{
    transform: scale(0.95);
} */
 