.CountDown{
    /* width: 18vw;
    height: 8.5vw; */
    width: 352px;
    height: 165px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    transition: .1s ease-in;
}
.countdown_content{
    overflow-y: scroll;
    height: 120px;
    /* margin-top:10px; */
    scroll-snap-type: y mandatory;
    /* scrollbar-width:none; */

}
.countdown_content > div{
    /* height:120px; */
    margin-top: 30px;
    scroll-snap-align: end;
}

.countdown_content > div div:nth-child(1){
    text-align: center;
    font-size: 20px;
    font-weight:800;
    letter-spacing: 3px;
    color:#31c5ff;
}
.countdown_content > div div:nth-child(2){
    text-align: center;
    margin-top: 5px;
    font-size: 55px;
    font-weight:900;
    letter-spacing: 8px;
}
.countdown_content span{
    font-size: 30px;
    letter-spacing: 0px;
}

/* 滚动条样式 */
.countdown_content::-webkit-scrollbar{
    width: 0px;
}
/* 设置滚动滑块 */
/* .newsList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 4px #00000033;
    background: rgba(0,0,0,0.2);
  }
.newsList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
} */

/* CSS实现滚动贴合  用在组件里面*/   
/* main{
    scroll-snap-type:y mandatory;  强制滚动
    scroll-padding: 80px;   贴合时的padding,如有粘滞元素的时候
}
section{
    scroll-snap-align: start;  贴合的位置，底部，center,或者顶部
} */
