.CountDown{
    width: 352px;
    height: 165px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    transition: .1s ease-in;
}
.CountDown .left {
    display: inline-block;
    margin-top: 13px;
}
.CountDown .left p{
    /* position: relative; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* text-align: center; */
    margin: 0;
    display: inline-block;
    letter-spacing: 0.2rem;
    cursor: pointer;
    margin-left: 12px;
}
.CountDown .left div{
    display: inline-block;
    /* position: relative; */
    margin-left: 18px;
    width: 6px;
    height: 14px;
    background: linear-gradient(180deg, #31c5ff 14.58%, #26f5f5 100%);
    box-shadow: 0px 3px 6px rgba(109, 214, 233, 0.8);
    border-radius: 20px;
}
.countdown_content{
    overflow-y: scroll;
    height: 120px;
    scrollbar-width:none;

}
.countdown_content div div:nth-child(1){
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight:800;
    letter-spacing: 3px;
    color:#31c5ff;
}
.countdown_content div div:nth-child(2){
    text-align: center;
    margin-top: 5px;
    font-size: 55px;
    font-weight:900;
    letter-spacing: 8px;
}
.countdown_content span{
    font-size: 30px;
    letter-spacing: 0px;
}



/* 滚动条样式 */
/* .countdown_content::-webkit-scrollbar{
    width: 0px;
} */
/* 设置滚动滑块 */
/* .newsList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 4px #00000033;
    background: rgba(0,0,0,0.2);
  }
.newsList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
} */

/* CSS实现滚动贴合  用在组件里面*/   
/* main{
    scroll-snap-type:y mandatory;  强制滚动
    scroll-padding: 80px;   贴合时的padding,如有粘滞元素的时候
}
section{
    scroll-snap-align: start;  贴合的位置，底部，center,或者顶部
} */