.swiperaera {
  position: absolute;
  /* top: 45vh; */
  left: 50%;
  transform: translateX(-50%);
  width: 85vw;
  /* height: 22vw; */
  margin: 0 auto;
  /* z-index: 999; */
  border: 0px solid black;
  overflow: visible;
  border-radius: 20px;
  /* height: 50vh; */
  user-select: none;
  transition: 0.3s ease-in-out;
}
.fade_in {
  animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swiper-no-swiping .swiper-pagination-bullet {
  width: 50px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #000;
  opacity: 1;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-no-swiping .swiper-pagination-bullet-active {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
