@font-face {
  font-family: "iconfont"; /* Project id 3208106 */
  src: url("//at.alicdn.com/t/font_3208106_1ue2ah07vji.woff2?t=1645966374377")
      format("woff2"),
    url("//at.alicdn.com/t/font_3208106_1ue2ah07vji.woff?t=1645966374377")
      format("woff"),
    url("//at.alicdn.com/t/font_3208106_1ue2ah07vji.ttf?t=1645966374377")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 35px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douyin1:before {
  content: "\e68d";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-douyin:before {
  content: "\e607";
}

.icon-downArrow:before {
  content: "\e60a";
}

.icon-bilibili-copy-copy:before {
  content: "\e600";
}

.icon-juejin-logo:before {
  content: "\e66b";
}

.icon-shezhi:before {
  content: "\e676";
}

.icon-biying:before {
  content: "\e66e";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-google:before {
  content: "\ea0c";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-zhihu:before {
  content: "\e7f8";
}

.icon-github:before {
  content: "\e673";
}
