.item {
  display: flex;
  padding: 1em;
  -webkit-transition: all 0.5s, background-color 0s;
  transition: all 0.5s, background-color 0s;
}

.item:hover {
  background-color: rgb(204, 201, 201);
}

.item:hover input {
  background-color: transparent;
}

.item-icon {
  height: 1em;
  width: 1em;
  margin-right: 1em;
}

.item-text {
  width: 90%;
  margin-right: 1em;
}

.item-text textarea {
  border: none;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  outline: none;
  padding: 0px;
  resize: none;
  width: 90%;
  background-color: transparent;
}

.item-text p.date {
  font-size: 0.6em;
  font-weight: 600;
  margin-top: 1em;
}

.uncompleted:hover path,
.edit-icon:hover path {
  fill: rgb(67, 239, 169);
}

.completed path {
  fill: rgb(67, 239, 169);
}

.completed:hover path {
  fill: black;
}

.edit-icon,
.delete-icon {
  opacity: 0;
}

.delete-icon:hover path {
  fill: red;
}

.item:hover > .edit-icon,
.item:hover > .delete-icon {
  opacity: 1;
}

.complete p.text {
  text-decoration: line-through;
  opacity: 0.4;
}

.complete p.date {
  font-weight: 400;
  opacity: 0.4;
}

.complete > .edit-icon {
  display: none;
}
