.toolkit {
  border-radius: 10px;
  width: 96%;
  margin: 1.5% auto;
  height: 120px;
}
.toolkit-box {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, calc(100% / 6));
  grid-template-rows: repeat(2, 50%);
}
.toolkit-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.toolkit-box img,
.toolkit-box div {
  background: #fff5;
  border-radius: 10px;
}
.toolkit-box img:hover,
.toolkit-box div:hover {
  background: #fffd;
}
