.set_apps{
    display: flex;
 }
.set_apps_right{
   display: block;
   margin-top: 40px;
   width: 300px;
 }
 .react-draggable .ant-modal-content{
  background: #FFFFFF55;
  /* -webkit-backdrop-filter: blur(20px); */
  backdrop-filter: blur(20px);
  /* transition: all 2s ease-in-out; */
 }
 .react-draggable .ant-modal-header{
  background: #FFFFFF00;
  border-bottom: 0;
  /* -webkit-backdrop-filter: blur(20px); */
  backdrop-filter: blur(20px);
  /* transition: all 2s ease-in-out; */
 }
 

 