.set_apps {
  display: flex;
}
.icon_list {
  height: 450px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, calc(96% / 3));
  grid-column-gap: 2%;
  justify-items: center;
  margin-top: 3%;
}
.icon_list_item {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
  background-color: #ffffff66;
  /* background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%); */
  border-radius: 25px;
}

.icon_list_item span {
  margin-left: 5%;
  color: white;
  font-size: 15px;
  /* white-space: nowrap; */
  display: inline-block;
  width: 60%;
  position: relative;
  top: 5%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon_list_item div {
  margin: 5% 5% 5% 5%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icon_list_item div.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: 0.3s ease-in-out;
}
.icon_list_item div.cover:hover {
  background-color: #00000066;
}
.icon_list_item button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.icon_list_item div.cover:hover button {
  opacity: 1;
  background-color: #fff3;
}
