.funcCard{
    position: relative;   /* 试运行 */
    width: 352px;
    height: 165px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    /* background-color: #FF5631; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: .2s ease-in;
    /* backdrop-filter: blur(50px); */
    /* border: 1px solid red; */
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.filter{
    background: #FFFFFF55;
    backdrop-filter: blur(20px);
    /* backdrop-filter: blur(2px); */
    /* color: #FFFFFF; */
}
/* .dark,.dark span,.dark div{
    background-color: #000000;
    color: #FFFFFF;
} */
   
.no-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardTitle{
    display: inline-block;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* width: 50%; */
    letter-spacing: 0.2rem;
}
.cardTitle div{
    display: inline-block;
    width: 6px;
    height: 14px;
    background: linear-gradient(180deg, #FFC531 14.58%, #FF5631 100%);
    box-shadow: 0px 3px 6px rgba(255, 141, 6, 0.8);
    /* box-shadow: 0px 3px 6px #000; */
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 5px;
}
.cardKinds{
    display: inline-flex;
    width: 150px;
    height: 25px;
    position:absolute;
    right: 15px;
    margin-top: 12px;
    justify-content: space-around;
}
.cardKinds span{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}