@import '~antd/dist/antd.css';

.carousel {
    margin-top: 10vh;
    margin-left: 10vw;
    width: 50vw;
    border: 0.2px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.panel {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    color: #ffffff;
    text-align: center;
    background: #364d79;
}