/* 顶部导航 */
.checkmode {
  visibility: hidden;
}
.checkmode input[type="checkbox"] {
  position: relative;
  width: 90px;
  height: 32px;
  left: 1vw;
  top: 2vh;
  appearance: none;
  /* appearence 设置div的显示形状 */
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
}

.checkmode input[type="checkbox"]:checked {
  background-color: rgba(0, 0, 0, 0.5);
}
.checkmode input[type="checkbox"]::before {
  content: "Light";
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  color: #000000cc;
  height: 32px;
  background: #ffffff;
  box-shadow: inset -2px -4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  text-align: center;
  line-height: 32px;
  transition: 0.5s;
}
.checkmode input[type="checkbox"]:checked:before {
  left: 30px;
  content: "Dark";
  background-color: #000000;
  color: #ffffffcc;
  box-shadow: inset 2px 4px 8px rgba(255, 255, 255, 0.4);
}

.avatar {
  background-color: #ffffff;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  top: 2vh;
  left: 30px;
  cursor: pointer;
}

.setting span {
  position: absolute;
  right: 30px;
  top: 2vh;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  line-height: 32px;
  cursor: pointer;
}

/* 设置面板 */
.setting-collapse {
  background: rgba(0, 0, 0, 0);
}
.setting-collapse .setting-panel {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.32),
    inset 0px 4px 4px rgba(255, 255, 255, 0.2);
  border: 0px;
  border-radius: 10px;
}
.panel-title {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
}

.setting-panel .ant-row {
  margin-bottom: 8px;
  margin-top: 24px;
}

/* .about-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  user-select: none;
} */
.about-member {
  display: flex;
  justify-content: space-between;
  user-select: none;
  margin-top: 5px;
}
.about-member div {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #00000099;
}
.codeAd {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.codeAd a {
  color: #000000;
  font-size: 30px;
}

.loginTitle {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 23px;
}
.dot {
  position: absolute;
  top: 23px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0000ff;
}
.userlog {
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  color: white;
  margin: 10px auto 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00000033;
}
.userlog + p {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 700;
}
.set_function > div{
  display: flex;
  justify-content: space-between;
  /* margin-top:5px; */
  height: 40px;
  align-items: center;
}


/* 滚动条样式 */
.ant-drawer-body::-webkit-scrollbar {
  width: 0px;
}
.ant-drawer-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 4px #00000033;
  background: rgba(0, 0, 0, 0.2);
}
.ant-drawer-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}