.motto{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    left: 50%;
    bottom: 2vh;
    transform: translateX(-50%);
    /* background-color: #000000CC; */
    color: white;
    cursor: pointer;
}
.motto span{
    visibility:hidden;
    font-size: 18px;
}
.motto:hover span{
    visibility:visible;
}
