.note-card{
  position: absolute;
  width: 352px;
  height: 165px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 20px;
}
.note-header{
  height: 20%;
  border-radius: 20px;
}
.note-icon{
  position: relative;
  width: 6px;
  height: 14px;
  left: 18px;
  top: 17px;

  background: linear-gradient(180deg, #6CB9FF 0%, #3355FF 100%);
  box-shadow: 0px 3px 6px rgba(55, 135, 255, 0.8);
  border-radius: 20px;
}
.note-title{
  position: relative;
  left: 36px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #000000;
}
.note-body{
  display: flex;
  flex-direction: column;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;

  margin: 5px 19px 5px 18px;
}
.note-content{
  height: 30px;
  line-height: 17px;
  padding: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}