
.tomato-circle{
   height:100px;
   width:100px;
   position:relative;
   margin:10px auto;
   border-radius: 50%;
   background-color: aqua;
}
.tomato-word{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    line-height: 86px;
    text-align: center;
    color: aquamarine;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    position: absolute;
    top:7px;
    left: 7px;
}