
.tomato-circle{
   height:100px;
   width:100px;
   position:relative;
   margin:10px auto;
   border-radius: 50%;
   background-color: aqua;
}
.tomato-word{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    line-height: 86px;
    text-align: center;
    color: aquamarine;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    position: absolute;
    top:7px;
    left: 7px;
}
#rest-circle{
    margin-left:2%;
}

.tomato_icon:hover{
    color:aqua;
    transition:.3s ease-in-out;
}

.set-tomato-clock{
    font-size: 1.2rem;
    font-weight: 600;
}
.set-tomato-clock > div{
     display: flex;
     align-items: center;
}
.set-tomato-clock div > span{
    margin-right:3%;
}