.year-today-container{
    height:70%;
    margin:2% 2%;
    background-color: #fff3;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.year-today-item{
    height:100%;
    letter-spacing: 3px;
    font-size: 1.3rem;
    padding:5px 10px;
    /* border: 1px solid black; */
    scroll-snap-align: end;
    font-weight: 700;
}

/* 滚动条样式 */
.year-today-container::-webkit-scrollbar{
    width: 0px;
}