@font-face {
    font-family: 'UnidreamLED';
    src:url(../../font/UnidreamLED.eot); /***兼容ie9***/
    src:url(../../font/UnidreamLED.eot?#iefix)format('embedded-opentype'), /***兼容ie6-ie8***/
    url('../../font/UnidreamLED.woff') format('woff'), 
    local('UnidreamLED'), url("../../font/UnidreamLED.woff");/***默认使用本地的***/
  }
  @font-face {
    font-family: "DS-Digital"; 
    /* 这个是定义字体的名称 */
    src: url("../../font/DS-Digital\ Bold.ttf");
  }
.clockSearch{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.clock{
    position:relative;
    display: flex;
    text-align: center;
    /* align-items: center; */
    line-height: 12rem;
    font-size: 9rem;
    font-weight: 200;
    color:white;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: .3s ease-in-out;
    height: 12rem;
}
.digitalfont{
    font-family: 'DS-Digital';
}
.h,.m{
    display: inline-block;
    /* font-family: 'DS-Digital'; */
    /* font-size: 100px; */
    width:9rem;
}
.h{
    text-align: right;
    margin-right: 2rem;
}
.m{
    text-align: left;
    margin-left: 2rem;
}




/* 搜索框 */
.search{
    width:40vw;
    height:6vh;
    position:relative;
    margin-top:3vh;
    min-width: 600px;
    min-height: 50px;
    background-color: #ffffffcc;
    border-radius: 50px;
    transition: .3s ease-in-out;
}
.engine{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    outline: none;
    border: none;
    width:4vw;
    min-width: 80px;
    height:6vh;
    min-height: 50px;
    cursor:pointer;
    line-height: 6vh;
    border-radius: 50px 0 0 50px;
    background-color: #ffffffcc;
    /* transition:0.5s; */
}

.engine:hover{
    background-color: #00000026;
}
.engine:focus + .engineList{
    display: flex;
}
.engineList{
    display:none;
    position: absolute;
    z-index: 3;
    margin-top:6px;
    padding:5px;
    /* width:126px; */
    min-width: 96px;
    border-radius: 10px;
    background-color:#ffffffEB;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.32), inset 0px 4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.2s;
}
.engineList li{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:6vh;
    min-height: 36px;
    width:100px;
    margin:2px 2px;
    list-style: none;
    color:rgba(0, 0, 0, 0.6);
    line-height: 6vh;
    border-radius: 10px;
    font-size: 2vh;
    font-weight:500;
    cursor:pointer;
}
.engineList li span{  
    display: block;
    color:rgba(0, 0, 0, 0.6);
}
.engineList li:hover{
    background-color: #0000001A;
}
.search input{
    font-family: Microsoft YaHei ;
    color:#0c0c0c;
    display: inline-block;
    position:absolute;
    font-size: 1.2rem;
    height:6vh;
    min-height: 50px;
    width: 30vw;
    outline: none;
    border: none;
    padding: 0 0 0 10px;
    background-color: #ffffff00;
}
.search > span {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #302f2fcc;
    border-radius: 50%;
    height:6vh;
    min-height: 50px;
    width:6vh;
    min-width: 50px;
    right:0;
}
.search > span:hover{
    background-color: #00000026;
}
.search input:focus + .presearch-list{
    display:flex;
}
.presearch-list{
    width:100%;
    background:#fff8;
    border-radius: 10px;
    display:none;
    position: absolute;
    z-index: 3;
    margin-top:6px;
    padding:5px;
}