@font-face {
  font-family: "UnidreamLED";
  src: url(../../font/UnidreamLED.eot); /***兼容ie9***/
  src: url(../../font/UnidreamLED.eot?#iefix) format("embedded-opentype"),
    /***兼容ie6-ie8***/ url("../../font/UnidreamLED.woff") format("woff"),
    local("UnidreamLED"), url("../../font/UnidreamLED.woff"); /***默认使用本地的***/
}
@font-face {
  font-family: "DS-Digital";
  /* 这个是定义字体的名称 */
  src: url("../../font/DS-Digital\ Bold.ttf");
}

.clock {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 20vh; */
  padding: 0 3%;
  text-align: center;
  border-radius: 20px;
  /* align-items: center; */
  font-size: 6.5rem;
  font-weight: 200;
  color: white;
  /* display: block; */
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in-out;
  height: 13rem;
  /* padding: 1%; */
}
.clock:hover {
  background-color: #00000055;
  border-radius: 20px;
}
.clock-setting {
  font-size: 1.5rem;
  visibility: hidden;
  position: absolute;
  font-weight: 700;
  color: aqua;
  top: 5%;
  right: 3%;
}
.clock-day {
  /* position:absolute; */
  font-size: 1.5rem;
}
.clock:hover .clock-setting {
  visibility: visible;
}
.digitalfont {
  font-family: "DS-Digital";
  font-size: 8.5rem;
}
.h,
.m {
  display: inline-block;
  /* line-height: 12rem; */
  /* font-family: 'DS-Digital'; */
  /* font-size: 100px; */
  width: 9rem;
}
.h {
  text-align: right;
  margin-right: 2rem;
}
.m {
  text-align: left;
  margin-left: 2rem;
}

/* 倒计时 */
.countdown_content_clock {
  /* overflow-y: scroll; */
  height: 10rem;
  /* margin-top: 2rem; */
  /* position: relative;
      top:1rem; */
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top:10px; */
  /* scroll-snap-type: y mandatory; */
  /* scrollbar-width:none; */
}
.countdown_content_clock > div {
  /* height:120px; */
  /* margin-top: 30px; */
  scroll-snap-align: end;
}

.countdown_content_clock > div div:nth-child(1) {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 5px;
  color: #19bbfc;
}
.countdown_content_clock > div div:nth-child(2) {
  text-align: center;
  /* margin-top: 5px; */
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: 8px;
}
.countdown_content_clock span {
  font-size: 2rem;
  letter-spacing: 0px;
}
/* .countdown_inclock_item{
      position: relative;
      top:0rem;
  }
  .countdown_slidein{
      animation: countdown_slidin 1s;
  }
  @keyframes countdown_slidein {
      0% {
          opacity: 0;
          top:3rem;
      }  
      100% {
          opacity: 1;
          top:0rem;
      }  
  } */

/* 滚动条样式 */
.countdown_content_clock::-webkit-scrollbar {
  width: 0px;
}
.top-clock > div {
  position: absolute;
  left: -85%;
  z-index: 4;
  display: none;
  background-color: #0009;
  margin-top: 0.5vh;
  border-radius: 16px;
  padding: 5px 16px;
  width: 14vw;
}
.top-clock:hover > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top-clock > div > div {
  display: flex;
  justify-content: space-between;
}
