.snippets{
    height:200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.15);
    resize: none;
    background-color: #fffa;
    font-family: sans-serif;
    font-size: 16px;
}