#add-item-input {
  padding: 1em;
}

#add-item-input svg,
#add-item-input input {
  display: inline-block;
  vertical-align: top;
}

#add-item-input svg {
  height: 1em;
  width: 1em;
  margin-right: 1em;
}

#add-item-input svg path {
  fill: gray;
}

#add-item-input input {
  border: 0px;
  color: gray;
  font-size: 1em;
  font-weight: 400;
  height: 1em;
  outline: 0px;
  padding: 0px;
}
