body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 笔记的部分CSS */
.note-card{
  /* position: absolute; */
  /* width: 18vw;
  height: 8.5vw;
  left: 392px;
  top: 205px; */
  width: 352px;
  height: 165px;
  background: #FFFFFF;
  border: 0px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 20px;
  transition: .1s ease-in;
}

.note-card:active{
  transform: scale(0.95);
}

.note-header{
  height: 20%;
  border-radius: 20px;
}
.note-icon{
  position: relative;
  width: 6px;
  height: 14px;
  left: 18px;
  top: 21px;

  background: linear-gradient(180deg, #6CB9FF 0%, #3355FF 100%);
  box-shadow: 0px 3px 6px rgba(55, 135, 255, 0.8);
  border-radius: 20px;
}
.note-title{
  position: relative;
  left: 36px;
  top:2px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}
.note-body{
  display: flex;
  flex-direction: column;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;

  margin: 5px 19px 5px 18px;
}
.note-content{
  height: 30px;
  line-height: 17px;
  padding: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}