.menu-wrapper{
    width:150px;
    background: #fff5;
    border-radius: 10px;
    position:absolute;
    z-index: 4;
}
.menu-wrapper ul{
    padding-inline-start:0;
}
.menu-wrapper .menu{
    padding:10px 12px;
}
.menu-content .menu-item{
    list-style: none;
    font-size: 22px;
    height:50px;
    display:flex;
    padding:0 5px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    background: #0003;
}
.menu-content .menu-item:hover{
    background: #0005;
}
.menu-content .menu-item span{
    font-size: 19px;
    margin-left:8px;
}