.Apps {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: space-around; */
  /* left: 764px; */
  border: 0px slid #000000;
  /* top: 200px; */
  width: 352px;
  height: 165px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: small;
  text-align: center;
  background-color: #ffffffaa;
  /* padding: 5px; */
  border-radius: 20px;
}
.icon {
  margin: 2px 20px;
  transition: 0.3s ease-in;
  width: 70px;
  height: 80px;
}
.Apps .icon:active {
  transform: scale(0.8);
}
